pipeline/automated_pipeline.json
{
	"name": "automated_pipeline",
	"properties": {
		"activities": [
			{
				"name": "get_file_list",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText2",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "loop_over_each",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_file_list",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_file_list').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "check_table_exists",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT 1 FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = ''', replace(item().name, '.csv', ''), '''')\r\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "new_for_automated",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "if_table_existes",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "check_table_exists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('check_table_exists').output.value[0], null)\n",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "insert_metadate_record",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[usp_InsertFileTableMapping]",
											"storedProcedureParameters": {
												"FileName": {
													"value": {
														"value": "@{item().name}",
														"type": "Expression"
													}
												},
												"TableName": {
													"value": {
														"value": "@{replace(item().name, '.csv', '')}",
														"type": "Expression"
													}
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "AzureSqlDatabase1",
											"type": "LinkedServiceReference"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "log_table_missing",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "varlog",
											"value": {
												"value": "@concat('Table not found for: ', item().name)\n",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"varlog": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-03-24T18:04:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}