pipeline/initial_ingest.json
{
	"name": "initial_ingest",
	"properties": {
		"activities": [
			{
				"name": "initial_ingestion_lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select *\nfrom dbo.ADF_Load_Metadata\nwhere active = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSQL_non_param",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "foreach_ingestion_loop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "initial_ingestion_lookup",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('initial_ingestion_lookup').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "initial_copy",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ADLS_Hospital_csv",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().File_Name",
											"type": "Expression"
										},
										"folderpath": {
											"value": "@item().File_Path",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSQL_hospital_table",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@split(item().Table_Name, '.')[1]",
											"type": "Expression"
										},
										"DBname": {
											"value": "@item().Database_Name",
											"type": "Expression"
										},
										"Schemaname": "@split(item().Table_Name, '.')[0]"
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "pipelines"
		},
		"annotations": []
	}
}