pipeline/proj_python_pipeline.json
{
	"name": "proj_python_pipeline",
	"properties": {
		"activities": [
			{
				"name": "lookup_activity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM [Metadata_Ingestion_Table]\nWHERE Active = 1\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "test_proj",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lookup_activity",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lookup_activity').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "variable_values",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "varSourceName",
								"value": {
									"value": "@item().sourcename",
									"type": "Expression"
								}
							}
						},
						{
							"name": "GetmetadatafromADLS",
							"type": "GetMetadata",
							"dependsOn": [
								{
									"activity": "variable_values",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "proj_dataset",
									"type": "DatasetReference",
									"parameters": {
										"Filename": "@variables('varFileName')"
									}
								},
								"fieldList": [
									"exists",
									"size"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If_file_exists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GetmetadatafromADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('lookup_activity').output.exists",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"varFileName": {
				"type": "String"
			},
			"varExpectedSchema": {
				"type": "String"
			},
			"varRegion": {
				"type": "String"
			},
			"varSourceName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-04-04T19:21:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}